body {
    background-color: #434343;
    /* background-image: url('../img/bg.jpg'); */
    background-size: cover;
    background-position: center center;
}

h1 {
    color:white;
}

#box {
    width: 330px;
    margin: 100px auto;
}

form {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background: white;
}

table {
    background: white;
}

.btn-add {
    margin:10px 0;
}

#lateral {
    background: white;
    padding: 10px;
    margin-top: 58px;
}

.margen_sup {
    margin-top: 58px;
}

.bg-w {
    background: #fff;
}

#nombre {
    text-transform: uppercase;
}

.foto_container {
    text-align: center;
    padding: 25px;
    
}

.foto_container img {
    height: 150px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#foto_cliente {
    display:none;
}
